/* Палитра цветов*/
:root {
  --logo-color-blue: #2196f3; /* Цвет лого в шапке */
  --logo-color-footer: #fff; /* Цвет лого в подвале */
  --other-logo-color: #000;
  --accent-color: #2196f3; /* Цвет активных элементов */
  --button-color: #2196f3;
  --color-white: #fff; /* Цвет текста на темном фоне, основной цвет фона */
  --main-bkg-color: #fff; /* Основной цвет фона */
  --alt-bkg-color: #e5e5e5; /* Цвет фона некоторых секций */
  --sub-bkg-color: #2f303a; /* Цвет фона шапки и подвала */
  --text-color-dark: #212121; /* Цвет текста  (серый потемнее) */
  --text-color-light: #757575; /* Цвет текста  (серый посветлее) */
  --button-bkg-color: #f5f4fa; /* Цвет фона кнопок фильтра в неактивном состоянии*/
  --section-color: #f5f4fa;
  --border-color: #ececec;
  --social-link-color: #afb1b8;
  --card-gap: 30px;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--main-bkg-color);
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71; /*(line-height: 24 px;)*/
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/*html {
  box-sizing: border-box;
}*/

/* *,
*::before,
*::after {
  box-sizing: inherit;
}*/

.link {
  text-decoration: none;
}

a {
  text-decoration: none;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/*   HEADER  */

.header {
  border-bottom: 1px solid var(--border-color);
}

.header-list {
  display: flex;
  justify-content: space-between;
}

.main-contacts {
  display: flex;
  margin-left: auto;
  cursor: pointer;
}

.contacts-item:not(:last-child) {
  margin-right: 50px;
}

.contacts-icon {
  fill: currentColor;
  margin-right: 10px;
}

.header-inline {
  display: flex;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--other-logo-color);
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-right: 93px;
}

.logo-blue {
  color: var(--logo-color-blue);
}

.site-nav,
.navigation {
  display: flex;
}

.navigation-item:not(:last-child) {
  margin-right: 50px;
}

.navigation-link.current::after {
  position: absolute;
  bottom: -34px;
  left: 0;

  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.navigation-link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color-dark);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-link:hover,
.navigation-link:focus,
.navigation-link.current {
  color: var(--accent-color);
}

.contacts {
  display: flex;
  align-items: center;
  color: var(--text-color-light);
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts:hover,
.contacts:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

/* INDEX.html */

/*HERO section*/

.hero {
  background-color: var(--sub-bkg-color);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/main-image.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-white);
  margin-bottom: 30px;
}

.hero-button {
  display: inline-block;
  min-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--button-color);
  color: var(--color-white);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(2);
}

.modal {
  position: absolute;

  width: 528px;
  min-height: 581px;

  top: 50%;
  left: 50%;

  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}

.modal-close {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  top: 8px;
  right: 8px;
  background-color: #fff;
  cursor: pointer;

  transition: filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  fill: var(--accent-color);
}

.modal-close-icon {
  height: 100%;
  width: 100%;
}

.hero-modal-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: var(--text-color-dark);
  margin-bottom: 12px;
}

.hero-label {
  text-align: left;

  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.hero-form-span {
  display: block;
  position: relative;
}

.hero-form-icon {
  position: absolute;

  width: 18px;
  height: 18px;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  display: inline-block;
}

.hero-form-field {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 30px;
  outline: none;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-form-field:focus,
.hero-form-field:hover {
  border-color: var(--accent-color);
}

.hero-form-field:focus + .hero-form-icon,
.hero-form-field:hover + .hero-form-icon {
  fill: var(--accent-color);
}

.label-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-color-light);
  margin-bottom: 4px;
}

.hero-form-textarea {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 12px 16px;
  resize: none;

  margin-bottom: 20px;
  outline: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-form-textarea:focus,
.hero-form-textarea:hover {
  border-color: var(--accent-color);
}

.hero-form-textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.hero-label-checkbox {
  display: flex;
  margin-bottom: 30px;
  color: var(--text-color-light);
  align-items: center;
}

.hero-checkbox {
  position: absolute;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.checkbox-icon {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 15px;
  border-radius: 3px;
  border: 2px solid var(--text-color-dark);

  margin-right: 9px;
}

.hero-form-check {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-checkbox:checked + .checkbox-icon {
  border: 1px solid var(--accent-color);
  background-color: var(--accent-color);
}

.check-conditions {
  color: var(--accent-color);
  text-decoration: underline;
}

.hero-form-button {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--color-white);
  background-color: var(--button-color);
  border: 1px solid var(--button-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

/* OTHER SECTIONS */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features-section {
  padding-bottom: 0px;
}

.featires-svg-container {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  padding: 25px 100px;
  align-items: center;
  justify-content: center;
}

.features-icon {
}

/*.section:nth-child(2n + 0) {
  background-color: var(--section-color);
} */

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--text-color-dark);
  margin-bottom: 50px;
  text-align: center;
}

.features,
.team,
.occupation,
.clients {
  display: flex;
  flex-wrap: wrap;

  margin-left: calc(-1 * var(--card-gap));
  margin-top: calc(-1 * var(--card-gap));
}

.features-title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--text-color-dark);
  margin-bottom: 10px;
  text-align: left;
}

.features-text {
  color: var(--text-color-light);
  text-align: left;
}

.features-item {
  flex-basis: calc(100% / 4 - 1 * var(--card-gap));
  margin-left: var(--card-gap);
  margin-top: var(--card-gap);
}

.occupation-item {
  position: relative;
  flex-basis: calc(100% / 3 - 1 * var(--card-gap));
  margin-left: var(--card-gap);
  margin-top: var(--card-gap);
}

.occupation-item > .occupation-app {
  position: absolute;
  width: 100%;
  height: 70px;
  padding: 27px;

  bottom: 0;
  left: 0;
  background: rgba(47, 48, 58, 0.8);
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.14;
  color: var(--color-white);
  text-align: center;
}

.team-item {
  flex-basis: calc(100% / 4 - 1 * var(--card-gap));
  margin-left: var(--card-gap);
  margin-top: var(--card-gap);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-section {
  background-color: var(--section-color);
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--text-color-dark);
  text-align: center;
}

.team-text {
  font-size: 16px;
  line-height: 1.19;
  color: var(--text-color-light);
  margin-top: 10px;
  margin-bottom: 16px;
  text-align: center;
}

.team-card-box {
  padding: 30px 0px;
  background-color: var(--color-white);
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-item {
  width: 44px;
  height: 44px;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--social-link-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
  fill: currentColor;
}

.social-link:hover,
.social-link:focus {
  color: var(--color-white);
  background-color: var(--accent-color);
  fill: currentColor;
}

.clients-item {
  width: 170px;
  height: 92px;
  flex-basis: calc(100% / 6 - 1 * var(--card-gap));
  margin-left: var(--card-gap);
  margin-top: var(--card-gap);
}

.clients-link {
  width: 100%;
  height: 100%;
  border: 1px solid var(--social-link-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--social-link-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icon {
  fill: currentColor;
}

.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
  fill: currentColor;
}

/* PORTFOLIO.html */

.filter {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.projects {
  display: flex;
  flex-wrap: wrap;

  margin-left: calc(-1 * var(--card-gap));
  margin-top: calc(-1 * var(--card-gap));
}

.projects-thumb {
  position: relative;
  overflow: hidden;
}

.projects-overlay {
  display: inline-block;
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--color-white);
  padding: 63px 24px 0px 24px;
  font-size: 18px;
  font-weight: 1.56;
}

.projects-link:hover .projects-overlay,
.projects-link:focus .projects-overlay {
  transform: translateY(0);
}

.projects-link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-link:hover,
.projects-link:focus {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.filter-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  background-color: var(--button-bkg-color);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  padding: 6px 22px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--accent-color);
  color: var(--color-white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.projects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-color-dark);
  text-align: left;
}

.projects-text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--text-color-light);
  margin-top: 4px;
  text-align: left;
}

.projects-content {
  padding: 20px 24px;
}

.projects-item {
  flex-basis: calc(100% / 3 - 1 * var(--card-gap));
  margin-left: var(--card-gap);
  margin-top: var(--card-gap);
}

/*  FOOTER   */

.logo-footer {
  color: var(--logo-color-footer);
}

.footer {
  background-color: var(--sub-bkg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .logo {
  margin-right: 0px;
}

.footer .container {
  text-align: left;
}

.address {
  font-style: normal;
  letter-spacing: 0.03em;
  color: var(--color-white);
}

.footer-address {
  margin-top: 20px;
}

.footer-contacts {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
}

.footer-address .item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-social-list {
  display: flex;
}

.footer-social-item {
  width: 44px;
  height: 44px;
}

.footer-social-item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link.item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-icon {
  fill: currentColor;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
}

.footer-join-title {
  color: var(--color-white);
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: 500;
  line-height: 1.14;
}

.footer-list {
  display: flex;
  align-items: baseline;
}

.footer-item-address {
  margin-right: 70px;
}

.footer-item-social {
  margin-right: 93px;
}

.footer-form {
  display: flex;
}

.footer-email-field {
  width: 358px;
  height: 50px;
  border-radius: 4px;
  color: var(--color-white);
  background-color: var(--sub-bkg-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-right: 12px;
  padding-left: 16px;

  outline: none;
}

.footer-email-field::placeholder {
  font-size: 16px;
  font-weight: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer-button-submit {
  display: flex;
  width: 200px;
  height: 50px;
  background-color: var(--button-color);
  border-radius: 4px;
  border: 1px solid var(--button-color);
  cursor: pointer;
  padding-left: 29px;

  font-family: inherit;
  font-size: 16px;
  line-height: 1.87;
  font-weight: bold;
  letter-spacing: 0.06em;
  color: var(--color-white);
  align-items: center;
}

.footer-button-icon {
  margin-left: 10px;
}

/*.footer-button-submit::after {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: lawngreen;
} */
